<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">OpenDKP Log Monitor </div>
        <div class="list-group list-group-flush">
            <a routerLink="/" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        </div>
    </div>
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">{{version}}<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col"></div>
                <div class="col-8">
                    <h1 class="mt-4">OpenDKP Log Monitor</h1>
                    <p>Due to the way security is built into browsers, developers can't continuously open and read files on a local computer through the browser. 
                      In order for OpenDKP to monitor log files and determine what loot has been dropped, we're using Electron app to run a local websocket on your machine. 
                    This websocket simply acts as a small server that monitors your log file for any items and sends those item names back to OpenDKP for processing.</p>
                    <p>All source code for this Electron app is available and if desired can be compiled and built manually for security purposes.</p>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col-8">
                  <label for="basic-url">What Chat Channel should we look for loot linked in?</label>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text">Chat Channel</span>
                      </div>
                      <input type="text" [(ngModel)]="channel" class="form-control">
                  </div>
              </div>
              <div class="col"></div>
          </div>            
            <div class="row">
                <div class="col"></div>
                <div class="col-8">
                    <label for="basic-url">Select your Everquest Log file here</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Log File</span>
                        </div>
                        <input type="text" [(ngModel)]="path" readonly class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" id="basic-url" (click)="openFile()">Browse</button>
                            <button class="btn btn-success" id="basic-url" (click)="startMonitor()">Start</button>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col-8">
                  <textarea [(ngModel)]="logOutput" readonly style="width: 100%; height: 400px;"></textarea>
              </div>
              <div class="col"></div>
          </div>            
        </div>
    </div>
</div>